main {
    margin-top: calc(var(--nav-height) + 100px);
    /* font-size: var(--h2-font-size); */
}

#dormitory {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dormitory > h1 {
    font-size: var(--h1-font-size);
    text-align: center;
}

#dormitory #selection-container {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    font-size: var(--h2-font-size);
    background-color: #a0d49c;
    width: 330px;
}

#calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

#calendar-container {
    /* width: 100%;
    max-width: 600px; */
    width: min(100%, 600px);
    height: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 1px solid black;
}

.item {
    display: grid;
    place-items: center;
}

.week-name {
    font-weight: bold;
    color: #aaa;
    border-bottom: 1px solid black;
}

.item:nth-child(7n+1) {
    color: crimson;
}

.item:nth-child(7n+7) {
    color: blue;
}

.other-month {
    color: #ddd !important;
    
}