
* {
    padding: 0;
    margin: 0;
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container > input, img, a {
    width: 100px;
    margin: 0 30px;
    font-size: 16px;
    color: black;
}    

.header-container > input {
    border: 0px solid black;
    border-bottom: 1px solid black;
    width: 180px;
    padding: 2px;
}

.header-container > a { 
    text-decoration: none;
    width: 180px;
    transition-duration: 0.3s;
}

.header-container > a:hover {
    color: #008156;
}

.menu > ul{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #008156;
    height: 40px;
}
.menu > ul > li {
    list-style-type: none;
}
.menu > ul > li > a {
    color: white;
    text-decoration: none;
}

.img-container > img {
    margin: 20px;
    width: 100%;
}

.nav-container {
    font-size: 20px;
    margin-bottom: 40px;
}

.nav-container > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-container > ul > li:hover {
    cursor: pointer;
    border-bottom: 2px solid black;
    text-align: center;
}

.container {
    margin: 0;
}


#page_web > .img-web, .text-web {
    display: hidden;
}

#page_design > .img-design, .text-design {
    display: hidden;
}

.border {
    border: 1px solid #777777;
}

.nav-container {
    margin-top: 200px;
}

.img-soft >img{
    width: 100%;
    margin: 0;
}

.img-web > img{
    width: 100%;
    margin: 0;
}

.img-design > img {
    width: 100%;
    margin: 0;
}

#page_soft {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#page_web {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#page_design {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.text-soft {
    width: 50%;
    background-color: #008156;
    color: white;
    padding: 20px;
}
.text-web {
    width: 50%;
    background-color: #efb11c;
    color: white;
    padding: 20px;
}
.text-design {
    width: 50%;
    background-color: #e7467e;
    color: white;
    padding: 20px;
}
.soul > .h6 {
    margin: 40px 0 0 150px;
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    margin: 20px;
}

footer > p {
    display: flex;
    justify-content: space-between;
}
