
* {
    padding: 0;
    margin: 0;
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container > input, img, a {
    width: 100px;
    margin: 0 40px;
    font-size: 16px;
    color: black;
}    

.header-container > input {
    border: 0px solid black;
    border-bottom: 1px solid black;
    width: 180px;
    padding: 2px;
}

.header-container > a { 
    text-decoration: none;
    width: 180px;
    transition-duration: 0.3s;
}

.header-container > a:hover {
    color: #008156;
}

.menu > ul{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #008156;
    height: 40px;
}
.menu > ul > li {
    list-style-type: none;
}
.menu > ul > li > a {
    color: white;
    text-decoration: none;
}

main {
    margin-top: 250px;
    margin-bottom: 0;
}
.soul {
    margin: 100px;
    display: flex;
    justify-content: flex-start;
}

.border {
    border: 1px solid #777777;  
    margin: auto;
    width: 90%;
}

.soul > p {
    margin-right: 80px;
    font-size: 40px;
}

.soul > li {
    margin: 20px;
}

.soul span {
    line-height: 30px;
}

footer {
    display: flex;
    align-items: center;
    margin: 20px;
}

footer > p {
    display: flex;
    justify-content: space-between;
}