* {
    padding: 0;
    margin: 0;
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container > input, img, a {
    width: 100px;
    margin: 0 30px;
    font-size: 16px;
    color: black;
}    

.header-container > input {
    border: 0px solid black;
    border-bottom: 1px solid black;
    width: 180px;
    padding: 2px;
}

.header-container > a { 
    text-decoration: none;
    width: 180px;
    transition-duration: 0.3s;
}

.header-container > a:hover {
    color: #008156;
}

.menu > ul{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #008156;
    height: 40px;
}
.menu > ul > li {
    list-style-type: none;
}
.menu > ul > li > a {
    color: white;
    text-decoration: none;
}
.pop-container {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.pop-container a {
    margin-top: 20px;
    padding: 0;
}
.pop-container div {
    height: 250px;
    width: 200px;
}
.pop-container  img {
    height: 150px;
    width: 150px;
    margin: 0px;
}

.pop-container p {
    width: max-content;
    margin-top: -40px;
    margin-bottom: 50px;
}
  
/*popup*/
.popup_layer {
    position:fixed;
    top:0;
    left:0;
    z-index: 10000;
     width: 100%; 
     height: 100%; 
     background-color: rgba(0, 0, 0, 0.4);
 }
/*팝업 박스*/
.popup_box{
    position: relative;
    top:50%;left:50%; 
    overflow: auto; 
    height: 400px; 
    width:400px;
    transform:translate(-50%, -50%);
    z-index:1002;
    box-sizing:border-box;
    background:#fff;
    box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);

}
/*컨텐츠 영역*/
.popup_box .popup_cont {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_box h5 {
    font-size: 24px;
    margin: 10px 0 0 10px;
}
.popup_box .popup_cont img {
    height: 100%;
    width: 100%;
    margin-top: 40px;
}
/*버튼영역*/
.popup_box .popup_btn { 
    table-layout: fixed;
    width:100%;
    height:70px;
    background:#ECECEC;

    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_btn a {
    text-align: center;
}

.popup_btn a:hover {
    cursor: pointer;
}
/*오버레이 뒷배경*/
.popup_overlay{
    position:fixed;
    top:0px;
    right:0;
    left:0;
    bottom:0;
    z-index:1001;
    background:rgba(0,0,0,0.5);
}



footer {
    display: flex;
    align-items: center;
    margin: 20px;
}

footer > p {
    display: flex;
    justify-content: space-between;
}
